mixin items(arr)
	//-items = arr[]
	for item in arr
		label.control.checkbox
			input(type="checkbox", name="x")
			i.control-indicator
			| #{item}




h1 Где купить сайдинг?
.wrap-select(data-snap-ignore="true")
	- var options = ["Москва", "Московская область", "Тутуево", "Кукуево"];
		select(style="width:100%")
			- for option in options
				option(value="") #{option}

.js_expander-trigger.btn.btn-blue Показать фильтр
	i.icon-arrow

.js_expander-content.map_filter
	h2 Тип продукции
	- var filters = ["Все", "Сайдинг", "Фасадные панели", "Наличники", "Откосы", "Панели ПВХ", "Вагонка ПВХ", "Кровля", "Газонная решетка", "Террасная доска", "Водостоки", "Дренажные системы"];
		- for filter in filters
			label.control.checkbox
				input(type="checkbox", name="x")
				i.control-indicator
				| #{filter}

	h2 Тип точки продажи
	+items(["Фирменные магазины", "Все остальные"])
	h2 Услуги
	+items(["Выезд замерщика", "Монтаж"])
	h2 Другое
	+items(["Цена от производителя","Расширенная гарантия","Работа в выходные"])


	.wrap-select.tags(data-snap-ignore="true")
		p Станция метро

		- var options =  ["Все станции метро", "Библиотека имени Ленина", "Комсомольская", "Парк Культуры", "Румянцево", "Тропарево", "Черкизовская", "Бульвар Рокоссовского", "Красносельская", "Лубянка", "Преображенская площадь", "Сокольники", "Университет", "Чистые пруды", "Воробьевы горы", "Красные ворота", "Охотный ряд", "Проспект Вернандского", "Спортивная", "Фрунзенская", "Юго-Западная"];
			select(style="width:100%", multiple="multiple")
				- for option in options
					option(value="") #{option}



	.wrap-select.tags(data-snap-ignore="true")
		p Шоссе
		- var options =  ['Все шоссе', 'Варшавское шоссе', 'Волоколамское шоссе', 'Горьковское шоссе', 'Дмитровское шоссе', 'Киевское шоссе', 'Калужское шоссе', 'Каширское шоссе', 'Киевское шоссе', 'Ленинградское шоссе', 'Минское шоссе', 'Можайское шоссе', 'Новорязанское шоссе', 'Новорижское', 'Носовихинское шоссе', 'Рогачевское шоссе', 'Рублевское шоссе', 'Симферопольское шоссе', 'Шоссе Энтузиастов', 'Щелковское шоссе', 'Ярославское шоссе'];
			select(style="width:100%", multiple="multiple")
				- for option in options
					option(value="") #{option}

	a.btn.btn-red(href="") Показать магазины
	a.btn.btn-simple.btn-filter-delete(href="") Сбросить фильтр

.HERE_tabs


	.js_tab-trigger.gray.active На карте
	.js_tab-trigger.gray Списком

	.js_tab-content
		#map(data-snap-ignore="true")
	.js_tab-content.info-dealer


		.label-select 
			i Сортировать
			.wrap-select(data-snap-ignore="true")
				- var options = ["по сериям", "Сортировать по...", "Сортировать по...", "Сортировать по..."];
					select(style="width:100%")
						- for option in options
							option(value="") #{option}



		.dlr.dlr_main
			h2 Компания «Авангард»
			.clr_lite Авторизованный дилер
			//stars
			.rating.star_2
				<b>☆</b>
				<b>☆</b>
				<b>☆</b>
				<b>☆</b>
				<b>☆</b>
		.clr_lite
			.authorised_dealer Цены от производителя
			.prices_manufacturer Авторизованный дилер
		ul.dealer_list-param
			li 
				a(href="") г. Москва, ул. 2-я Магистральная, 19-г
			li 09:00 — 20:00, пн.-пт.
			li 8 (495) 222-22-22
				//- a(href="") Показать телефон
			li 8 (495) 333-33-33
				//- a(href="") Показать телефон
			li www.avangard.ru
			li 
				a(href="mailto:mail@avangard.ru") mail@avangard.ru

		.js_more-content
			h2 Продукция у дилера:
			.dlr_product-list
				- var links = ["фасадные панели", "сайдинг", "наличники", "откосы", "панели ПВХ", "вагонка ПВХ", "кровля", "водостоки", "газонная решетка", "террасная доска", "дренажная система"];
					- for link, i in links
						a(href="#") #{link}
						if (i < links.length -1)
							|, 
			h2 Участвует в акциях:
			p.clr_lite Скидка 6% на монтаж

		a.js_more-trigger.grey(href="", data-tgl-text="Скрыть информацию", data-def-text="Подробнее о дилере") Подробнее о дилере


		a.btn.btn-blue(href="#") Отправить заявку
		a.btn.btn-red(href="#") Сделать заказ на сайте*
		p.clr_lite-i * вы можете выбрать этого дилера, сделав заказ на сайте

		//- dlr_storage
		hr

		.dlr.dlr_storage
			h2 Компания «Пегас»
			.clr_lite Оптовый склад
			//stars
			.rating.star_4
				<b>☆</b>
				<b>☆</b>
				<b>☆</b>
				<b>☆</b>
				<b>☆</b>
		.clr_lite
			.authorised_dealer Цены от производителя
			.prices_manufacturer Авторизованный дилер
		ul.dealer_list-param
			li 
				a(href="") г. Москва, Красная площадь дом 1
			li 09:00 — 20:00, пн.-пт.
			li 8 (495) 222-22-22
				//- a(href="") Показать телефон
			li 8 (495) 333-33-33
				//- a(href="") Показать телефон
			li www.pegas.ru
			li 
				a(href="mailto:mail@pegas.ru") mail@pegas.ru

		.js_more-content
			h2 Продукция у дилера:
			.dlr_product-list
				- var links = ["фасадные панели", "сайдинг", "наличники", "откосы", "панели ПВХ", "вагонка ПВХ", "кровля", "водостоки", "газонная решетка", "террасная доска", "дренажная система"];
					- for link, i in links
						a(href="#") #{link}
						if (i < links.length -1)
							|, 
			h2 Участвует в акциях:
			p.clr_lite Скидка 6% на монтаж
		a.js_more-trigger.grey(href="", data-tgl-text="Скрыть информацию", data-def-text="Подробнее о дилере") Подробнее о дилере


		a.btn.btn-blue(href="#") Отправить заявку
		a.btn.btn-red(href="#") Сделать заказ на сайте*
		p.clr_lite-i * вы можете выбрать этого дилера, сделав заказ на сайте


		a.clr_lite(href="") Показать ещё


p.v_ritm На кириллический контент – написание символов. Символов на латыни и т.д имеет никакого. Сегодня существует несколько вариантов lorem ipsum. Своим появлением lorem кириллице значительно. В книгопечатании еще в качестве рыбы. К обитателям водоемов получить более длинный неповторяющийся набор. Абзацев, отступов и даже с использованием lorem ipsum. При оценке качества восприятия макета наиболее распространенных слов который планируется использовать. Текста исключительно демонстрационная, то и смысловую нагрузку.

a.btn.btn-red(href="#") Стать дилером
