-
	var productList2 =[
		{
			'title': "Кровля",
			'src':'static/img/content/icon_intro_4dark.svg'
		},
		{
			'title': "Сайдинг",
			'src':'static/img/content/icon_intro_5dark.svg'
		},
		{
			'title': "Фасадные панели",
			'src':'static/img/content/icon_intro_6dark.svg'
		},
		{
			'title': "Кровля",
			'src':'static/img/content/icon_intro_7dark.svg'
		}

		]

- var colors = ['background-color:#dce775', 'background-color:#ffa757', 'background-color:#fd4134', 'background-color:#7faefc', 'background-color:#06ac00','background-color:#939393']
- var colors2 = ['background-color:#dce775', 'background-color:#ffa757', 'background-color:#fd4134', 'background-color:#7faefc', 'background-color:#06ac00','background-color:#939393','background-color:#dce775', 'background-color:#ffa757', 'background-color:#fd4134', 'background-color:#7faefc', 'background-color:#06ac00','background-color:#939393', 'background-color:#7faefc', 'background-color:#06ac00','background-color:#939393']
-
	var checkboxList1 = [
		{
		'title':'Брус'
		},
		{
		'title':'Блокхаус'
		},
		{
		'title':'Корабельная доска'
		},
		{
		'title':'Елочка'
		},
		{
		'title':'Вертикальный (Квадрохаус)'
		},
		{
		'title':'Кирпич'
		},
		{
		'title':'Клинкер'
		},
		{
		'title':'Камень'
		},
		{
		'title':'Скалистый камень'
		},
		{
		'title':'Дикий камень'
		},
		{
		'title':'Фасадная плитка'
		},
		{
		'title':'Гранит'
		}
		]
-
-
	var checkboxList2 = [
		{
		'title':'Премиум'
		},
		{
		'title':'Стандарт'
		},
		{
		'title':'Эконом'
		}

		]
-
-
	var checkboxList3 = [
		{
		'title':'Альта Сайдинг'
		},
		{
		'title':'Аляска'
		},
		{
		'title':'Квадрохаус'
		},
		{
		'title':'Канада Плюс Престиж'
		},
		{
		'title':'Канада Плюс Премиум'
		},
		{
		'title':'Блокхаус'
		}
		]
-
-
	var checkboxList4 = [
		{
		'title':'Компактная форма панелей'
		},
		{
		'title':'Повышенная морозостойкость'
		},
		{
		'title':'Повышенная прочность'
		},
		{
		'title':'Глянцевая поверхность'
		},
		{
		'title':'Устойстойчивость к выцветанию'
		}
		]
-
- var materials = ['background-image:url(static/img/content/material-1.jpg)','background-image:url(static/img/content/material-2.jpg)','background-image:url(static/img/content/material-3.jpg)','background-image:url(static/img/content/material-4.jpg)']
- var materials2 = ['background-image:url(static/img/content/material-1.jpg)','background-image:url(static/img/content/material-2.jpg)','background-image:url(static/img/content/material-3.jpg)','background-image:url(static/img/content/material-4.jpg)','background-image:url(static/img/content/material-1.jpg)','background-image:url(static/img/content/material-2.jpg)','background-image:url(static/img/content/material-3.jpg)','background-image:url(static/img/content/material-4.jpg)','background-image:url(static/img/content/material-1.jpg)']
mixin checkList4()

	.check-list
		each item in checkboxList4
			label.control.checkbox
				input(type="checkbox", name="x")
				i.control-indicator
				=item.title
mixin checkList3()
	.check-list
		each item in checkboxList3
			label.control.checkbox
				input(type="checkbox", name="x")
				i.control-indicator
				=item.title
mixin checkList1()
	.check-list
		each item in checkboxList1
			label.control.checkbox
				input(type="checkbox", name="x")
				i.control-indicator
				=item.title
mixin checkList2()
	.check-list
		each item in checkboxList2
			label.control.checkbox
				input(type="checkbox", name="x")
				i.control-indicator
				=item.title
mixin tableColor1()
	.color-table.custom-scroll-blue(data-snap-ignore="true")
		table
			tr
				each val in colors
					td
						a(href="#" style=val).color
mixin tableColor2()
	.color-table.custom-scroll-blue(data-snap-ignore="true")
		table
			tr
				each val in colors2
					td
						a(href="#" style=val).color
mixin tableMaterial1()
	.material-table.custom-scroll-blue(data-snap-ignore="true")
		table
			tr
				each val in materials
					td
						a(href="#" style=val).material
mixin tableMaterial2()
	.material-table.custom-scroll-blue(data-snap-ignore="true")
		table
			tr
				each val in materials2
					td
						a(href="#" style=val).material
mixin sortSelect()
	.wrap-select(data-snap-ignore="true")
		select(style="width:100%")
			option(value="1") Все
			option(value="2") Сайдинг
			option(value="3") Фасадные панели
			option(value="4") Дренажные системы
			option(value="5") Газонная решеткa
			option(value="6") Водосточные системы
			option(value="7") Внутренняя отделка
mixin productList()
	.sort-block
		.section-title Популярные товары
		.sort-block-i
			+sortSelect()
				//- .scroll-slider.product-slider
		.swiper-container.swiper-product(data-snap-ignore="true")
			- var x = 5;
			.swiper-wrapper(data-snap-ignore="true")
				- for (var i=1; i<=x; i++) {
					a(href="#").swiper-slide
						img(src="%=static=%img/content/product1.png")
						.title Сайдинг «Канада Плюс»
						p   Цвет: фисташковый
						p   Цена:
							strong 1 500 р.
							| | за уп.
					- }
			.swiper-scrollbar.scroll-blue
mixin productList2()
	.sort-block
		.wrap-paging
			.swiper-instruction
				img(src='static/img/content/hand.svg')
			.swiper-container.swiper-photo.swiper-paging(data-snap-ignore="true")
				.swiper-wrapper(data-snap-ignore="true")
					a(href="#").swiper-slide
						img(src='static/img/content/icon_intro_5dark.svg')
						.title Фасадные панели
					a(href="#").swiper-slide.current-page
						img(src='static/img/content/icon_intro_2.svg')
						.title Фасадные панели

					each item in productList2
						a(href="#").swiper-slide
							img(src=item.src)
							.title=item.title
				.swiper-scrollbar.scroll-blue
		.sort-block-i
			+sortSelect()


mixin productsGrid(sort)
	if (sort == 'sortSeries')
		.wrap-product-grid.wrap-ajax
			//- !!! переделел на .js_expander-trigger 
			//-a(herf="#").product-title
			.js_expander-trigger.product-title Сайдинг <br/> «Альта-Профиль»
				i.icon-arrow-b
				i.icon-arrow-t

			//-.text
			.js_expander-content
				p У таких звезд в окнах видимости между. Внегалактических объектов кроме немногочисленных близких, которые случайным. Прозрачна, радиоизлучение можно зарегистрировать, а разрешающая сила радиотелескопов. Слабые галактики тоже будет понятно. Исследованиям радиозвезд их расстояний и распределенных по всему. Облаками пылевой материи после открытия.



			.product-grid.ajax-content.clearfix
				- var x = 4;
				- for (var i=1; i<=x; i++) {
					a(href="#").product
						img(src="%=static=%img/content/product1.png")
						.title Сайдинг «Канада Плюс»
						p   Цвет: фисташковый
						p   Цена:
							strong 1 500 р.
							| | за уп.
				- }
			a(href="ajax/product-grid.html").btn.btn-blue.btn-ajax Показать ещё
			.banner
				img(src="%=static=%img/content/banner3.jpg")
	if (sort == 'sortPrice')
		.wrap-product-grid.wrap-ajax
			.product-grid.ajax-content.clearfix
				- var x = 4;
				- for (var i=1; i<=x; i++) {
					a(href="#").product
						img(src="%=static=%img/content/product1.png")
						.title Сайдинг «Канада Плюс»
						p   Цвет: фисташковый
						p   Цена:
							strong 1 500 р.
							| | за уп.
				- }
			a(href="ajax/product-grid.html").btn.btn-blue.btn-ajax Показать ещё
			.banner
				img(src="%=static=%img/content/banner3.jpg")
mixin productsGrid2(sort)
	if (sort == 'sortSeries')
		.wrap-product-grid.wrap-ajax
			a(herf="#").product-title Сайдинг «Аляска»
				i.icon-arrow-b
				i.icon-arrow-t
			.text
				p У таких звезд в окнах видимости между. Внегалактических объектов кроме немногочисленных близких, которые случайным. Прозрачна, радиоизлучение можно зарегистрировать, а разрешающая сила радиотелескопов. Слабые галактики тоже будет понятно. Исследованиям радиозвезд их расстояний и распределенных по всему. Облаками пылевой материи после открытия.
			.product-grid.ajax-content.clearfix
				- var x = 4;
				- for (var i=1; i<=x; i++) {
					a(href="#").product
						img(src="%=static=%img/content/product1.png")
						.title Сайдинг «Канада Плюс»
						p   Цвет: фисташковый
						p   Цена:
							strong 1 500 р.
							| | за уп.
				- }
			a(href="ajax/product-grid.html").btn.btn-blue.btn-ajax Показать ещё
	if (sort == 'sortPrice')
		.wrap-product-grid.wrap-ajax
			.product-grid.ajax-content.clearfix
				- var x = 4;
				- for (var i=1; i<=x; i++) {
					a(href="#").product
						img(src="%=static=%img/content/product1.png")
						.title Сайдинг «Канада Плюс»
						p   Цвет: фисташковый
						p   Цена:
							strong 1 500 р.
							| | за уп.
				- }
			a(href="ajax/product-grid.html").btn.btn-blue.btn-ajax Показать ещё

mixin swiperProduct()
	.swiper-container.swiper-product.swiper-sub_product
		.swiper-wrapper(data-snap-ignore="true")
			- var x = 4;
			- for (var i=1; i<=x; i++) {
				a(href="#").swiper-slide
					.wrap-img
						img(src="%=static=%img/content/sub_product2.jpg")
					.title Профиль D 4,5
					dl
						dt Д
						dd 1 170 мм
						dt Ш
						dd 50 мм
						dt В
						dd 42 мм
						dd.large (для «Канада плюс»)
			-}
		.swiper-scrollbar.scroll-blue
